.Post-Wrapper{
    min-height: auto;
    min-width: auto;
    max-width: auto;
    max-height: auto;
    
    
    display: flex;
    column-count: 2;
    
    column-width: auto;
    margin: auto;
    outline: solid #3f4b65;
    outline-width: 2px;
}

.Post-Image-Title-Wrapper{
    display: flex;

    max-width: 300px;
    max-height: auto;
    min-width: auto;

}
.Post-Image{
    max-width: 300px;
    max-height: 300px;
    margin-left: 3px;
    margin-top: 2px;
}

.Post-Title{
    font-size: larger;
    display: flex;
    margin-left: 3px;
}
.Post-Date{
    font-size: large;
    display: flex;
    margin-left: 3px;
}

.Post-Details-Wrapper{
    font-size: large;
    display: flex;
    flex-direction: row;
    min-width: auto;
    margin: auto;
    margin-left: 15px;
    justify-content: left;
    max-height: auto;
    min-height: auto;
    min-width: auto;
    max-width: 500px;
}

.Post-Details{
    margin: auto;
    margin-left: 15px;
    justify-content: left;
    max-height: auto;
    min-height: auto;
    min-width: auto;
    max-width: auto;
}

.Post-Metrics{
    max-height: auto;
    
    min-height: auto;
    min-width: auto;
    max-width: auto;
    justify-content: top;

}
.Post-Description{
    margin-left: 15px;
    max-height: auto;
    min-height: auto;
    min-width: auto;
    max-width: auto;
    text-overflow: wrap;
}

.Row-Wrapper{
    max-width: auto;
    min-width: 580px;
}

.Table-Wrapper{
    display: flex;
    flex-direction: row;
    flex-shrink: auto;
    flex-grow: auto;
}
