.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3f4b65;
  position: relative;
  
  max-height: 50px;
  
  min-width: max-content;
  display: flex;
  margin: auto;
  
}

.Marble-logo{
  max-width: 50px;
  max-height: 50px;
  margin-left: 15px;
}
.Title-text{
  align-items: center;
  justify-content: center;
  
  display:flex;
  margin: auto;
  color: white;
  
  
}

.Login-link{
  font-size: large;
  margin-right: 15px;
  color:white;
  
  


}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Date-wrapper{
  display:flex;
  margin: auto;

  width: 800px;
}


.Date-field{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:auto;
}
.Date-text{
  font-size: larger;
}



.Brand-wrapper{
  display:flex;
  column-count: 3;
  margin:auto;
}

.Brand-field{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:auto;
  font-size: larger;
}

.Icon-wrapper{
  display:flex;
  margin: auto;
  justify-content: center;
  gap: 50px;
  margin: auto;
  height: 100px;
  width: 100px;
}
.Submit-button{
  display:flex;
  margin: auto;
  border: solid #ffb27f;
  border-radius: 25px;
  background-color: #ffb27f;

}

.Text{
  color:#3f4b65;
  font-size: large;
  justify-content: center;
  
}

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio]+img {
  cursor: pointer;
  height: 100px;
  width: 100px;
  margin: auto;
}

[type=radio]:checked + img{
  filter: grayscale(0%);
  offset: 5px;
  height:112px;
  width:112px;
}

.Logo-wrapper{
  height: 125px;
  width:125px;
  display:flex;
  margin: auto;
}

